<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>in.ac.iul.learnweb.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>in.ac.iul.learnweb.s1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>in.ac.iul.learnweb.s2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>in.ac.iul.learnweb.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>in.ac.iul.learnweb.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDemo1</servlet-name>
        <servlet-class>in.ac.iul.learnweb.SDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDemo2</servlet-name>
        <servlet-class>in.ac.iul.learnweb.SDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s3demo</servlet-name>
        <servlet-class>in.ac.iul.learnweb.s3demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>in.ac.iul.learnweb.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>in.ac.iul.learnweb.users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersInfo</servlet-name>
        <servlet-class>in.ac.iul.learnweb.UsersInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersInfo</servlet-name>
        <servlet-class>in.ac.iul.learnweb.usersInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>c1</servlet-name>
        <servlet-class>in.ac.iul.learnweb.c1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>c2</servlet-name>
        <servlet-class>in.ac.iul.learnweb.c2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session1</servlet-name>
        <servlet-class>in.ac.iul.learnweb.session1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session2</servlet-name>
        <servlet-class>in.ac.iul.learnweb.session2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServDemo</servlet-name>
        <servlet-class>in.ac.iul.learnweb.ServDemo</servlet-class>
        <init-param>
            <param-name>city</param-name>
            <param-value>Lucknow</param-value>
        </init-param>
        <init-param>
            <param-name>college</param-name>
            <param-value>IUL</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServDemo</servlet-name>
        <url-pattern>/ServDemo</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>city</param-name>
        <param-value>Kanpur</param-value>
    </context-param>
    <context-param>
        <param-name>college</param-name>
        <param-value>integral university</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>SDemo1</servlet-name>
        <url-pattern>/SDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SDemo2</servlet-name>
        <url-pattern>/SDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s3demo</servlet-name>
        <url-pattern>/s3demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersInfo</servlet-name>
        <url-pattern>/UsersInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersInfo</servlet-name>
        <url-pattern>/usersInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>c1</servlet-name>
        <url-pattern>/c1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>c2</servlet-name>
        <url-pattern>/c2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session1</servlet-name>
        <url-pattern>/session1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session2</servlet-name>
        <url-pattern>/session2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
